<module name="accelerometer" version="1.0">
	<tables>
		<table>
			<name>accelerations</name>
			<columns>
				<column unit="g">
					<name>accX</name>
					<type>real</type>
				</column>
				<column unit="g">
					<name>accY</name>
					<type>real</type>
				</column>
				<column unit="g">				
					<name>accZ</name>
					<type>real</type>
				</column>
			</columns>
		</table>
	</tables>
</module>